main {
  .sect3 {
    background: #173d7a;
    position: relative;
    .container {
      max-width: 1240px;
      margin: 0 auto;
      padding: 30px 0 80px;
      .title {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        h2 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 63px;
          color: #ff7a00;
        }
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #fdfdfd;
          margin: 12px 0 34px;
        }
      }
      .box {
        max-width: 400px;
        margin: 0 auto;
        background: #fdfdfd;
        border-radius: 8px;
        padding: 20px 16px;
        h2 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: #ff7a00;
        }
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #173d7a;
          margin: 28px 0 5px;
        }
        .icon {
          p {
            margin-right: 67px;
            img {
              width: 20px;
              height: 20px;
              margin-right: 8px;
            }
          }
        }
        .line {
          margin: 28px 0 24px;
          border: 1px solid #e8e8e8;
        }
        a {
          border-radius: 8px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          display: inline-block;
        }
        a:nth-child(5) {
          background: #fdfdfd;
          color: #173d7a;
          border: 1px solid #173d7a;
          padding: 12px 60px;
          transition: 0.5s linear;
        }
        a:nth-child(5):hover {
          background: #ff7a00;
          color: #fdfdfd;
          border: none;
        }
        a:nth-child(6) {
          background: #ff7a00;
          color: #fdfdfd;
          padding: 14px 47px;
          margin-left: 20px;
          border: 1px solid #173d7a;
        }
      }
      .img {
        img {
          position: absolute;
        }
        img:nth-child(1) {
          top: 17%;
          left: 28%;
        }
        img:nth-child(2) {
          top: 2%;
          left: 13%;
        }
        img:nth-child(3) {
          right: 28%;
          bottom: 0;
        }
      }
      .owl-carousel .owl-dots.disabled,
      .owl-carousel .owl-nav.disabled {
        display: block;
      }
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 0 !important;
        transform: translateY(-100%);
        padding: 10px;
        color: transparent;
        transition: 0.5s linear;
        height: fit-content;
      }

      .owl-next {
        background: {
          image: url("../img/sect1/right.png");
          repeat: no-repeat;
        }
        top: auto;
        right: 0;
        bottom: 45px !important;
        left: auto;
      }

      .owl-prev {
        background: {
          image: url("../img/sect1/left.png");
          repeat: no-repeat;
        }
        top: auto;
        right: 44px;
        bottom: 45px !important;
        left: auto;
      }
    }
  }
}
